
.m#{$delimiter1}0 {
  margin: 0 !important;
}

.mt#{$delimiter1}0 {
  margin-top: 0 !important;
}

.mr#{$delimiter1}0 {
  margin-right: 0 !important;
}

.mb#{$delimiter1}0 {
  margin-bottom: 0 !important;
}

.ml#{$delimiter1}0 {
  margin-left: 0 !important;
}

.mv#{$delimiter1}0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.mh#{$delimiter1}0 {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.m#{$delimiter1}a {
  margin: auto !important;
}

.mt#{$delimiter1}a {
  margin-top: auto !important;
}

.mr#{$delimiter1}a {
  margin-right: auto !important;
}

.mb#{$delimiter1}a {
  margin-bottom: auto !important;
}

.ml#{$delimiter1}a {
  margin-left: auto !important;
}

.mv#{$delimiter1}a {
  margin-top: auto !important;
  margin-bottom: auto !important;
}

.mh#{$delimiter1}a {
  margin-right: auto !important;
  margin-left: auto !important;
}

.m {
  margin: $space !important;
}

.mt {
  margin-top: $space !important;
}

.mr {
  margin-right: $space !important;
}

.mb {
  margin-bottom: $space !important;
}

.ml {
  margin-left: $space !important;
}

.mv {
  margin-top: $space !important;
  margin-bottom: $space !important;
}

.mh {
  margin-right: $space !important;
  margin-left: $space !important;
}


@each $multiplier in $multipliers {

  .m#{$delimiter1}#{$multiplier}x {
    margin: $space * $multiplier !important;
  }

  .mt#{$delimiter1}#{$multiplier}x {
    margin-top: $space * $multiplier !important;
  }

  .mr#{$delimiter1}#{$multiplier}x {
    margin-top: $space * $multiplier !important;
  }

  .mb#{$delimiter1}#{$multiplier}x {
    margin-top: $space * $multiplier !important;
  }

  .ml#{$delimiter1}#{$multiplier}x {
    margin-top: $space * $multiplier !important;
  }

  .mv#{$delimiter1}#{$multiplier}x {
    margin-top: $space * $multiplier !important;
    margin-bottom: $space * $multiplier !important;
  }

  .mh#{$delimiter1}#{$multiplier}x {
    margin-right: $space * $multiplier !important;
    margin-left: $space * $multiplier !important;
  }

}

  @each $size in $sizes {

    $name: nth($size, 1);
    $breakpoint: nth($size, 2);

    @media #{$breakpoint} {

      .m-#{$name}-0 {
        margin: 0 !important;
      }

      .mt#{$delimiter1}#{$name}#{$delimiter2}0 {
        margin-top: 0 !important;
      }

      .mr#{$delimiter1}#{$name}#{$delimiter2}0 {
        margin-right: 0 !important;
      }

      .mb#{$delimiter1}#{$name}#{$delimiter2}0 {
        margin-bottom: 0 !important;
      }

      .ml#{$delimiter1}#{$name}#{$delimiter2}0 {
        margin-left: 0 !important;
      }

      .mv#{$delimiter1}#{$name}#{$delimiter2}0 {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
      }

      .mh#{$delimiter1}#{$name}#{$delimiter2}0 {
        margin-right: 0 !important;
        margin-left: 0 !important;
      }

      .m-#{$name}-a {
        margin: auto !important;
      }

      .mt#{$delimiter1}#{$name}#{$delimiter2}a {
        margin-top: auto !important;
      }

      .mr#{$delimiter1}#{$name}#{$delimiter2}a {
        margin-right: auto !important;
      }

      .mb#{$delimiter1}#{$name}#{$delimiter2}a {
        margin-bottom: auto !important;
      }

      .ml#{$delimiter1}#{$name}#{$delimiter2}a {
        margin-left: auto !important;
      }

      .mv#{$delimiter1}#{$name}#{$delimiter2}a {
        margin-top: auto !important;
        margin-bottom: auto !important;
      }

      .mh#{$delimiter1}#{$name}#{$delimiter2}a {
        margin-right: auto !important;
        margin-left: auto !important;
      }

      .m#{$delimiter1}#{$name} {
        margin: $space !important;
      }

      .mt#{$delimiter1}#{$name} {
        margin-top: $space !important;
      }

      .mr#{$delimiter1}#{$name} {
        margin-right: $space !important;
      }

      .mb#{$delimiter1}#{$name} {
        margin-bottom: $space !important;
      }

      .ml#{$delimiter1}#{$name} {
        margin-left: $space !important;
      }

      .mv#{$delimiter1}#{$name} {
        margin-top: $space !important;
        margin-bottom: $space !important;
      }

      .mh#{$delimiter1}#{$name} {
        margin-right: $space !important;
        margin-left: $space !important;
      }

      @each $multiplier in $multipliers {

        .m#{$delimiter1}#{$name}#{$delimiter2}#{$multiplier}x {
          margin: $space * $multiplier !important;
        }

        .mt#{$delimiter1}#{$name}#{$delimiter2}#{$multiplier}x {
          margin-top: $space * $multiplier !important;
        }

        .mr#{$delimiter1}#{$name}#{$delimiter2}#{$multiplier}x {
          margin-right: $space * $multiplier !important;
        }

        .mb#{$delimiter1}#{$name}#{$delimiter2}#{$multiplier}x {
          margin-bottom: $space * $multiplier !important;
        }

        .ml#{$delimiter1}#{$name}#{$delimiter2}#{$multiplier}x {
          margin-left: $space * $multiplier !important;
        }

        .mv#{$delimiter1}#{$name}#{$delimiter2}#{$multiplier}x {
          margin-top: $space * $multiplier !important;
          margin-bottom: $space * $multiplier !important;
        }

        .mh#{$delimiter1}#{$name}#{$delimiter2}#{$multiplier}x {
          margin-right: $space * $multiplier !important;
          margin-left: $space * $multiplier !important;
        }

      }

    }

  }
