
.p-0 {
  padding: 0 !important;
}

.pt-0 {
  padding-top: 0 !important;
}

.pr-0 {
  padding-right: 0 !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.pl-0 {
  padding-left: 0 !important;
}

.pv-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.ph-0 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.p {
  padding: $space !important;
}

.pt {
  padding-top: $space !important;
}

.pr {
  padding-right: $space !important;
}

.pb {
  padding-bottom: $space !important;
}

.pl {
  padding-left: $space !important;
}

.pv {
  padding-top: $space !important;
  padding-bottom: $space !important;
}

.ph {
  padding-right: $space !important;
  padding-left: $space !important;
}


@each $multiplier in $multipliers {

  .p#{$delimiter1}#{$multiplier}x {
    padding: $space * $multiplier !important;
  }

  .pt#{$delimiter1}#{$multiplier}x {
    padding-top: $space * $multiplier !important;
  }

  .pr#{$delimiter1}#{$multiplier}x {
    padding-right: $space * $multiplier !important;
  }

  .pb#{$delimiter1}#{$multiplier}x {
    padding-bottom: $space * $multiplier !important;
  }

  .pl#{$delimiter1}#{$multiplier}x {
    padding-left: $space * $multiplier !important;
  }

  .pv#{$delimiter1}#{$multiplier}x {
    padding-top: $space * $multiplier !important;
    padding-bottom: $space * $multiplier !important;
  }

  .ph#{$delimiter1}#{$multiplier}x {
    padding-right: $space * $multiplier !important;
    padding-left: $space * $multiplier !important;
  }

}

  @each $size in $sizes {

    $name: nth($size, 1);
    $breakpoint: nth($size, 2);

    @media #{$breakpoint} {

      .p#{$delimiter1}#{$name}#{$delimiter2}0 {
        padding: 0 !important;
      }

      .pt#{$delimiter1}#{$name}#{$delimiter2}0 {
        padding-top: 0 !important;
      }

      .pr#{$delimiter1}#{$name}#{$delimiter2}0 {
        padding-right: 0 !important;
      }

      .pb#{$delimiter1}#{$name}#{$delimiter2}0 {
        padding-bottom: 0 !important;
      }

      .pl#{$delimiter1}#{$name}#{$delimiter2}0 {
        padding-left: 0 !important;
      }

      .pv#{$delimiter1}#{$name}#{$delimiter2}0 {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
      }

      .ph#{$delimiter1}#{$name}#{$delimiter2}0 {
        padding-right: 0 !important;
        padding-left: 0 !important;
      }

      .p#{$delimiter1}#{$name} {
        padding: $space !important;
      }

      .pt#{$delimiter1}#{$name} {
        padding-top: $space !important;
      }

      .pr#{$delimiter1}#{$name} {
        padding-right: $space !important;
      }

      .pb#{$delimiter1}#{$name} {
        padding-bottom: $space !important;
      }

      .pl#{$delimiter1}#{$name} {
        padding-left: $space !important;
      }

      .pv#{$delimiter1}#{$name} {
        padding-top: $space !important;
        padding-bottom: $space !important;
      }

      .ph#{$delimiter1}#{$name} {
        padding-right: $space !important;
        padding-left: $space !important;
      }

      @each $multiplier in $multipliers {

        .p#{$delimiter1}#{$name}#{$delimiter2}#{$multiplier}x {
          padding: $space * $multiplier !important;
        }

        .pt#{$delimiter1}#{$name}#{$delimiter2}#{$multiplier}x {
          padding-top: $space * $multiplier !important;
        }

        .pr#{$delimiter1}#{$name}#{$delimiter2}#{$multiplier}x {
          padding-top: $space * $multiplier !important;
        }

        .pb#{$delimiter1}#{$name}#{$delimiter2}#{$multiplier}x {
          padding-top: $space * $multiplier !important;
        }

        .pl#{$delimiter1}#{$name}#{$delimiter2}#{$multiplier}x {
          padding-top: $space * $multiplier !important;
        }

        .pv#{$delimiter1}#{$name}#{$delimiter2}#{$multiplier}x {
          padding-top: $space * $multiplier !important;
          padding-bottom: $space * $multiplier !important;
        }

        .ph#{$delimiter1}#{$name}#{$delimiter2}#{$multiplier}x {
          padding-right: $space * $multiplier !important;
          padding-left: $space * $multiplier !important;
        }

      }

    }

  }
